
.basicInput{
    box-sizing: border-box;
    width: 100%;
    height: 13%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding : 0.5rem;
}

.basicLabel{
    font-family: 'KBO Dia Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin: 2%;
}

/* 기본 테이블 행 스타일 */
.hoverRow  {
    transition: background-color 0.3s ease-in-out;
}
  
/* 마우스 호버 시 스타일 */
.hoverRow:hover {
    background-color: #dadada;
}

/* td에 배경색을 설정 */
.hoverRow td {
    background-color: inherit;  /* tr에서 상속받은 배경색을 td에도 적용 */
    cursor: pointer;
}

